<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Dispensario_Médico.Properties.Settings.DispensarioConnectionString"
            connectionString="Data Source=INNOVA\SQLEXPRESS2;Initial Catalog=Dispensario;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>